<h2>Lista de Transações</h2>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.date | date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.category?.name }}</td>
            <td>
                <a [routerLink]="['/transactions/edit', transaction.transactionId]" class="btn btn-primary">Editar</a>
                <button (click)="deleteTransaction(transaction.transactionId)" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>




<a routerLink="/transactions/create" class="btn btn-success">Adicionar Nova Transação</a>
