<h2 *ngIf="isEditMode">Editar Categoria</h2>
<h2 *ngIf="!isEditMode">Adicionar Nova Categoria</h2>

<form (ngSubmit)="saveCategory()">
    <div class="form-floating mb-3">
        <input id="name" [(ngModel)]="category.name" name="name" class="form-control" placeholder="Nome" required />
        <label for="name">Nome</label>
    </div>


    <div class="form-floating mb-3">
        <input id="description" [(ngModel)]="category.description" name="description" class="form-control" placeholder="Descrição" required />
        <label for="description">Descrição</label>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a routerLink="/categories" class="btn btn-secondary">Cancelar</a>
</form>
