<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-uppercase fw-bold fs-6 px-4">
    <a class="navbar-brand text-white" routerLink="/"><img src="assets/logo white.png" class="card-img-top" alt="..." style="height: 60px;"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link text-white active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/shoppingitems">Shopping Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/tasks">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/notes">Notes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" data-bs-theme="dark">
    <router-outlet></router-outlet>
</div>

<!--          SIDEBAR           -->

<button class="btn sticky-bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
    <img src="assets/logo white.png" class="card-img-top" alt="..." style="height: 60px;">
</button>

<nav class="navbar offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header d-flex justify-content-between">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><a class="navbar-brand text-white" routerLink="/"><img src="assets/logo white.png" class="card-img-top" alt="..." style="height: 60px;"></a></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body justify-content-end">
        <ul class="navbar-nav grid gap-3 flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link d-flex hover-effect active" data-bs-toggle="tooltip" data-bs-title="Home" routerLink="/"><i class="fa-solid nav-icon me-3 fa-house-chimney"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex hover-effect" data-bs-toggle="tooltip" data-bs-title="Categories" routerLink="/categories"><i class="fa-solid nav-icon me-3 fa-layer-group"></i>Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex hover-effect" data-bs-toggle="tooltip" data-bs-title="Transactions" routerLink="/transactions"><i class="fa-solid nav-icon me-3 fa-cash-register"></i> Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex hover-effect" data-bs-toggle="tooltip" data-bs-title="Shopping Items" routerLink="/shoppingitems"><i class="fa-solid nav-icon me-3 fa-basket-shopping"></i>ShoppingItems</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex hover-effect" data-bs-toggle="tooltip" data-bs-title="Tasks" routerLink="/tasks"><i class="fa-solid nav-icon me-3 fa-list-check"></i>Tasks</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toastLiveExample = document.getElementById('liveToast');

        if (toastLiveExample) {
            const toastBootstrap = new bootstrap.Toast(toastLiveExample, { autohide: false });

            // Exibir o toast a cada 5 segundos (5000ms)
            setInterval(() => {
                toastBootstrap.show();
            }, 5000);
        }

        // Inicializando tooltips (se necessário)
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

    const triggerTabList = document.querySelectorAll('#myTab button')
    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', event => {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>
