<main class="content">
    <div class="container-fluid p-0 row mb-3 mt-3">

        <h2 class="col align-self-start text-start">Lista de Itens de Compras</h2>
        <a routerLink="/shoppingitems/create" class="btn btn-success col-lg-2 col align-self-end"><i class="fas fa-plus"></i> Novo Item</a>
    </div>

  <div class="row row-cols-3 gap-3">
      <div *ngFor="let item of shoppingItems" class="card text-center shadow p-0" style="width: 19rem; ">
          <div class="card-header">
              {{ item.name }}
          </div>
          <div class="card-body">
              <h5 class="card-title">{{ item.priority }}</h5>
              <p class="card-text">{{ item.price | currency }}</p>
              <p class="card-text">{{ item.isPurchased ? 'Sim' : 'Não' }}</p>
              <p class="card-text">{{ item.priority }}</p>
              <img class="card-img-top" [src]="item.image" [alt]="item.name">

              <div class="mt-1">
                  <a [href]="item.link" target="_blank" class="btn btn-success">Ver Mais <i class="fa-regular fa-circle-question"></i></a>
                  <div class="d-flex gap-2 justify-content-center mt-1">

                      <a [routerLink]="['/shoppingitems/edit', item.itemId]" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                      <button (click)="deleteShoppingItem(item.itemId)" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                  </div>
              </div>
          </div>
          <div class="card-footer text-body-secondary">
              {{ item.price | currency }}
          </div>
      </div>

  </div>
</main>

