<h2 *ngIf="isEditMode">Editar Budget</h2>
<h2 *ngIf="!isEditMode">Criar Novo Budget</h2>

<form (ngSubmit)="saveBudget()">
    <div class="form-group">
        <label for="limit">Limite</label>
        <input id="limit" [(ngModel)]="budget.limit" name="limit" type="number" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="startDate">Data de Início</label>
        <input id="startDate" [(ngModel)]="budget.startDate" name="startDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="endDate">Data de Término</label>
        <input id="endDate" [(ngModel)]="budget.endDate" name="endDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="notificationsEnabled">Notificações Ativadas</label>
        <input id="notificationsEnabled" [(ngModel)]="budget.notificationsEnabled" name="notificationsEnabled" type="checkbox" />
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a routerLink="/budgets" class="btn btn-secondary">Cancelar</a>
</form>
