<h2>Lista de Tarefas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data Limite</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.dueDate | date }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.status }}</td>
            <td>
                <a [routerLink]="['/tasks/edit', task.taskId]" class="btn btn-primary">Editar</a>
                <button (click)="deleteTask(task.taskId)" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink="/tasks/create" class="btn btn-success">Adicionar Nova Tarefa</a>
